.click-rank-1 {
  /*
  background: #FFD700
  */
  background: #FFF780
}
.click-rank-2 {
  /*
  background: #D0D0D0
  */
  background: #E0E0E0
}
.click-rank-3 {
  /*
  background: #CD7F32
  */
  background: #FDAF62
}
